/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
 * Grid - Fluid 960 grid
 */

.container {
    width: 92%;
    max-width: 960px; /* <-- width-governor */
    margin: 0 auto;
    position: relative;
}

.grid_1,
.grid_2,
.grid_3,
.grid_full {
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%
}

.grid_1 {
    width: 31.333%
}

.grid_2 {
    width: 64.667%
}

.grid_3,
.grid_full {
    width: 98.0%
}

.grid_right {
    float: right
 }

/*
* Use as necessary for nested content. Also use percents here for fluidity.
*/
.content-pad-right {
    margin-right: 4%;
}

.content-pad-left {
    margin-left: 4%;
}

/*
 * makes sure images respond to different viewports
 */

audio,
img,
video {
    max-width: 100%;
}


/*
 * Go Nuts
 */

#footer {
    padding-bottom: 30px;
}





